:root {
  --main-color: white;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

body {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  margin: 0;
  padding: 0;
}

.main-container {
  font-family: "Obrbitron", sans-serif;
  color:var(--main-color);
  font-weight: 400;
  text-align: center;
  border: 1px solid yellow;

  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 13px;

  background-color: #D9AFD9;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,121,9,1) 35%, rgba(7,62,156,1) 52%, rgba(0,212,255,1) 100%);

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}